div.embed-screen {
    --black9: #233DC7;
    --black6: #121417;
    --black4: #121417;
    --black3: #121417;
    --black2: #ededed;
    --black1: #ededed;
    --black0: #FFFFFF;
    --white: #FFFFFF;
    --black: #121417;
    --purple6: #121417
}

.embed-variant-header.active {
    border-width: 15px
}

.embed-gateway-container .gateway-list-item {
    border-width: 2px
}

.embed-header,
.embed-volume,
.embed-info-header,
.embed-coupon-input,
.embed-coupon-applied,
input.sellix-input,
.embed-back,
.gateway-list-item,
.embed-variant-header,
.embed-group-header,
.embed-addons {
    background-color: var(--black0) !important
}